<html>
<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Type</th>
                <th>Mode</th>
                <th>Release Date</th>
            </tr>
        </thead>

        <tbody>
            <% info.forEach(game => { %>
                <tr>
                    <td><%= game.id %></td>
                    <td><%= game.game_name %></td>
                    <td><%= game.genre %></td>
                    <td><%= game.game_type %></td>
                    <td><%= game.game_mode %></td>
                    <td><%= game.release_date %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a type="button" href="/add_games">Add Games</a>
    <a href="/Home">Return Home</a>
</body>
</html>