<html>
<head>
     <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="name">Name</th>
                <th class="genre">Genre</th>
                <th class="type">Type</th>
                <th class="mode">Mode</th>
                <th class="date">Release Date</th>
                <th class="publisher">Publisher</th>
                <th class="price">Price</th>
                <th class="qty">Stock Qty</th>
                <th class="platform">Platform</th>
                <th class="rating">Rating</th>
                <th class="downloads">Downloads</th>



            </tr>
        </thead>

        <tbody>
            <% table.forEach(game => { %>
                <tr>
                    <td><%= game.id %></td>
                    <td><%= game.game_name %></td>
                    <td><%= game.genre %></td>
                    <td><%= game.game_type %></td>
                    <td><%= game.game_mode %></td>
                    <td><%= game.release_date %></td>
                    <td><%= game.publisher %></td>
                    <td><%= game.price %></td>
                    <td><%= game.stock_qty %></td>
                    <td><%= game.platform %></td>
                    <td><%= game.rating %></td>
                    <td><%= game.downloads %></td>

                </tr>
            <% }) %>
        </tbody>
    </table>
    <a type="button" href="/add_games">Add Games</a>
    <a href="/search">Search Game</a>
    <a href="/update">Update Game Info</a>
    <a href="delete">Delete Game</a>
</body>
</html>